.avatar-module-heading {
    line-height: 100%;
    font-family: Franklin Gothic;
    font-size: 54px;
    text-align: center;
	color: #90c04e;
	padding-bottom: 40px;
}

.at-logo .at-font-bold, .at-color-theme, #avatar-footer-inside-block a, #avatar-footer-inside-block a:visited, .at-arrowzex-features-1 .at-item-title a, .at-arrowzex-features-1 .at-item-title, .at-arrowzex-latest-news .at_readmore_text, .at-arrowzex-latest-news-1 .at_readmore_text:hover, .at-accordion-1 .accordion-heading .accordion-toggle, .at-custom-percent-1 .at-percent-number, .at-arrowzex-features-3 .at-item-title, .at-arrowzex-features-3 .at-intro-item-wrap:hover .at-item-title a, .at-arrowzex-latest-news-2 .at_readmore_text, .at-arrowzex-features-5 .at-intro-item:hover .at-item-title, .at-arrowzex-features-5 .at-intro-item:hover .at-item-title *, .categories-module h5:hover a, .at-tags .label-info, blockquote, blockquote *, .userAdditionalInfo .userURL, .userAdditionalInfo .userEmail {
    color: #90c04e;
	font-weight:bold;
	font-size: xx-large;
}
.at-arrowzex-features-1 {
    padding: 0px 0;
}

.at-logo {
    background-color: white;
	background-position: center;
	border-radius: 8px;
	padding: 5px 0px 5px 5px !important;
	width: 300px;
}
.at-logo * {

   

}



.at-main-menu ul.at-menu-horizontal ul li {

    width: 300px;
}


at-caption:hover .nivo-caption .at-caption-p1,
.at-caption:hover .nivo-caption .at-caption-p2{
}
.at-caption:hover .nivo-caption .at-caption-p1{
	padding-right: 100px;
}
.at-caption:hover .nivo-caption .at-caption-p2{
	padding-left: 100px;
}
.at-caption:hover .nivo-caption .at-caption-p3{
	padding-left: 75px;
}
.at-purchase-btn-3{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 30px;
}
.at-purchase-btn-3 a,
.at-purchase-btn-3 a:hover{
	font-family: Segoe_UI;
	font-weight: bold;
	font-size: 14px;
	color: #fff !important;
}
#avatar-tool-block {
    min-height: 30px;
	margin-top: 0px
}

.at-separate-module {
    height: 5px;
	background-image: url('http://ngugi-laptop:82/web/esahub/images/banners/divider_02.png');
	border: 1px solid;
}


.at-blog .at-page-header, .at-blog .at-page-header * {
    color: #90C04E;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2.2em;
}

.at-font-light, .at-caption-p1 
{
	font-size: 60px;
}
.at-module-10 .avatar-module-heading, .at-module-10 .avatar-module-content, .at-module-2 .avatar-module-content, .at-module-12 .avatar-module-content, .at-module-13 .avatar-module-content, .at-module-14 .avatar-module-content, .at-module-11 .avatar-module-content, .at-module-3 .avatar-module-content, .at-module-3 .avatar-module-heading, .at-module-4 .avatar-module-content, .at-module-4.avatar-module-heading   {
    border: 1px solid #ADABAB;
}

.at-main-menu ul.at-menu-horizontal ul li {
    width: 200px;
}

.at-arrowzex-recent-works-1 .at-item-image, .at-arrowzex-recent-works-1 .at-secondary-group .at-item-more {

    border: #808080 1px solid;
}
.at-arrowzex-recent-works-1 .at-primary-group .ch-info {

    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
}
.at-arrowzex-recent-works-1 {
    padding: 0px 0px;
}

.at-arrowzex-latest-news {
    padding: 0px 0px 0px;
}
.bt-cs .bt-inner .bt-title {
    clear: both;
    color: #964B00;
    line-height: 150%;
    font-weight: none;
    text-transform: none;
    font-size: medium;
	text-align: center;
	font-family: Segoe_UI;
}
div#jem .copyright {
    font-size: 0.0em;
}
#avatar-content {
    padding-bottom: 1px;
}
#avatar-full-6-block, #avatar-footer-inside-block {
    background-color: #181717;
}
.at-blog .at-page-header, .at-blog .at-page-header * {
    color: #90C04E;
    margin: 0;
}


body {
    color: #679b95;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
	line-height: 1.4em
}

a:visited {
    text-decoration: none;
    color: black;
	font-family: Franklin Gothic;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}
div#jemmodulebanner .event-title {

    font-family: Franklin Gothic;
}
.at-arrowzex-latest-news .at-item-title, .at-arrowzex-latest-news a {

	font-size: 16px;
    padding: 0px 1px;
	line-height:1.4em;
    
}

.at-blog .at-page-header {
    height: 20px;
    max-height: 20px;
}
#avatar-pos-content-user-top {
    position: relative;
    text-align: center;
}
.at-purchase-btn-3 {
    border: 0px solid rgb(9, 66, 106);
}
.at-purchase-btn-2 {
   padding: 5px 10px;
   background-color: #679b95;
   border: 1px solid #FFF;
}


.at-caption .at-purchase-btn-2 a, .at-caption .at-purchase-btn-2 a:hover {
    font-size: 15px;
    color: #fff;
}


.at-blog .at-readmore {
    background-color: #964B00;
}
.at-blog .at-readmore a {
    color: #fff;
}
pre {

    word-wrap: normal;
padding: 5.5px;
}

.partners
{
	vertical-align:top;
}

#avatar-header-inside-block {

position: fixed;
 padding-top: 5px;  

}

.testimonial{
	background: #fff none repeat scroll 0% 0%;
    border-bottom: 1px solid #FFF;
}



#avatar-full-6-block, #avatar-footer-inside-block {
    background-color: #fff;
}


.divider {
    height: 5px;
    width: 750px;
}

.at-caption .nivo-caption {

    width: 100%;

}

.at-caption .nivo-caption {
    width: 500px;
 margin-right: 20px;
}

.at-caption .nivo-caption {

background-color: rgba(16, 25, 4, 0.6);
max-height: 270px;
border-radius: 5px;
margin-top: 180px;
}

.theme-default .nivo-directionNav a {
	visibility: hidden;
}
.at-caption * {
    line-height: 150%;
}

.footer_title {
color: #90c04e;
font-size: large;
font-family: Franklin Gothic;
}
#avatar-full-6-block *, #avatar-footer-inside-block *, #avatar-footer-block * {
    color: #90c04e;
}

.at-custom-mod-1, .at-custom-mod-1 *, .at-custom-mod-1 a, .at-custom-mod-2, .at-custom-mod-2 *, .at-custom-mod-2 a, .at-testimonial, .at-testimonial *, .at-testimonial a {
    color: #90c04e !important;
}
.at-arrowzex-latest-news .at-item-title, .at-arrowzex-latest-news a, .at-arrowzex-latest-news .at_readmore_text {
    font-family: Tahoma,Geneva,sans-serif;
}
.h1, h2, h3, h4, h5 {
	line-height: 120%;
}
.at-item-page .page-header h2 * {
	color: #90C04E !important;
  
	font-family: Franklin Gothic;
	font-size: xx-large;
}

.at-main-menu .at-menu-horizontal > li:hover, .at-main-menu .at-menu-horizontal > .active, .at-main-menu .at-menu-horizontal ul li, .at-main-menu .at-menu-style-3 ul li:hover, .at-main-menu .at-menu-style-4 ul li:hover, .at-purchase-btn-3, .at-custom-percentage li .at-percent-bar, .at-custom-percentage-1 li .at-percent-bar, .at-arrowzex-latest-news .at-published, .at-arrowzex-latest-news-2 .at-published, .at-arrowzex-latest-news .at_readmore_text:hover, .at-arrowzex-features-2 .at-item-image, .at-arrowzex-features-4 .at-item-image, .at-arrowzex-latest-news-1 .at-published, .at-tab-1 .nav-tabs .active a, .at-tab-1 .nav-tabs>li>a:hover, .at-custom-percent-1 .at-percent-content:hover .at-percent-number, .at-arrowzex-about-us .at-item-more, .at-arrowzex-portfolio-1 .at-item-more, .at-arrowzex-features-5 .at-intro-item:hover .at-item-image, .at-arrowzex-features-5 .at-intro-item:hover .at_readmore_text, .at-twitter-btn, .at-twitter-btn:visited, .at-twitter-btn:hover, .at-blog .at-readmore:hover, .pagination_nav .page span, .pagination_nav .page a:hover, .tagspopular ul li:hover, .categories-module h5:hover .number-articles, .at-item-page .next a:hover, .at-item-page .previous a:hover, .at-portfolio-item .at-item-image-wrap:hover .at-item-more, .pagination_nav .next a:hover, .pagination_nav .start a:hover, .pagination_nav .prev a:hover, .pagination_nav .end a:hover, .at-module-2 .avatar-module-heading, .at-blog .at-subCategory a, .at-blog .itemListCategory .categoryTitle, div.k2TagCloudBlock a:hover, div.itemCommentsForm form input#submitCommentButton, .btn, .button, .pagination_nav .page a.button:hover, table.calendar tr td.calendarToday, table.calendar tr td.calendarDateLinked a:hover, .k2Avatar img:hover, .avatar-responsive .at-main-menu > .menu-pull {
    background-color: #90C04E;
    color: #fff;
}

.at-main-menu ul.at-menu-horizontal ul li {
    border-bottom: 1px solid #fff;
}
ul.at-menu-horizontal > li {
    background-color: #90C04E;
	color: #fff;
}
ul.at-menu-horizontal > li :hover{
    background-color: #679b95;
} 


div#jemmodulebanner .desc {
    font-size: 15px;
}

div#jemmodulebanner .eventset {
    border: 1px solid #C0C0C0;
    padding: 10px;
}


#jemmodulebanner [class|="calendar"] {
    height: 90px;
}