:root{
    --primary-color:#437eeb;
    --secondary-color:#313e5b;
    --white-color:#fff;
    --white-light-color:#eff1fe;
    --warning-color:red;
    --success-color:#398f14;
    --title-color:#313e5b;
    --sub-title-color:#437eeb;
    --body-text:#525f81;
    --ver-menu-back:rgba(67,126,235,.08);
    --dark-menu:#95a0b2;
    --dark-back:#171d33;
    --body-dark:#19203a;
}
.site-footer {
    padding: 0px !important;
}
.site-footer .content {
    font-family: 'Karla',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 30px;
    color: var(--body-text) !important;
}
.site-footer__bottom .block {
    margin: 0 !important;
}

footer.site-footer .block{
    padding-top: 100px;
    padding-bottom: 45px;
    width: 100%;
    display: inline-block;
    width: 100%;
    float: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #c2c5ce !important;
}

.site-footer h4.footer-title {
    margin-bottom: 15px;
}
.site-footer h4 {
    font-size: 1.563em;
}
.site-footer h1,.site-footer h2,.site-footer h3,.site-footer h4,.site-footer h5,.site-footer h6 {
    font-family: 'Lato',sans-serif;
    color: var(--title-color);
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5em;
    font-weight: 700;
}

.site-footer input[type=email] {
    background: var(--white-color);
    border-color: var(--white-light-color);
    border-radius: 90px;
    color: var(--secondary-color);
}

.site-footer input,.site-footer textarea {
    width: 100%;
    float: left;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    background: var(--white-color);
    border: 1px solid var(--white-light-color);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: var(--body-text);
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.site-footer .mc4wp-form-fields input[type=submit] {
    position: absolute;
    right: 15px;
}

.site-footer footer.footer-one input[type=email]:hover, footer.footer-one input[type=email]:focus {
    border-color: var(--primary-color);
    padding: 0 125px 0 15px;
}
.site-footer footer.footer-one input[type=email] {
    background: var(--white-color);
    border-color: var(--white-light-color);
    border-radius: 90px;
    color: var(--secondary-color);
}


.site-footer input[type=submit], .site-footer .contact-form .cfield input[type=submit] {
    color: var(--white-color);
    background: var(--primary-color);
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    line-height: 26px !important;
    padding: 11px 30px;
    font-size: 1em;
    line-height: 2;
    border: none;
    position: relative;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 90px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.site-footer label {
    color: var(--secondary-color);
    margin-bottom: 0;
}

footer li {
    list-style: none;
    display: block;
    margin-right: 10px;
}
footer.site-footer .block{
    z-index: -1;
}