.avatar-wrapper {
    width: 1170px;
    margin: auto;
}

img.esa_header_logo {
    max-width: 100%;
    max-height: 100%;
} 
div#avatar-pos-top-left {
    width: 25%;
    float: left;
}
div#avatar-pos-top-right {
    width: 75%;
    float: right;
}

ul.at-menu-horizontal > li,
ul.at-menu-horizontal > li:hover {
    padding-inline-start: 0px !important; 
}

#block-esaheaderblock ul {
    padding-inline-start: 0px !important;
}

#block-esaheaderblock .mod-languages a:link,
#block-esaheaderblock .mod-languages a:visited {
    color: #90c04e;
}

nav#navbar-main {
    padding: 0px !important; 
}

#header {
    height: 110px;
}

#avatar-header-inside-block {
    background: #fff;
    /*height: 110px;*/
}

div.alert {
    z-index: 999;
}

/*
* remake the css of menu for sync with brand. 
* temporary solutions
* A. Shepherd
*/

ul.at-menu-horizontal > li{
    text-transform:capitalize;

}
.at-menu-horizontal ul, .at-menu-horizontal ul li a, .at-menu-horizontal li span{
    background-color: #FFF;
    color:#222;
}
.at-menu-horizontal li span:hover, .at-menu-horizontal li a:hover{
    color:#1e73be!important;
    background-color: #FFF;
    cursor:pointer;
}
.at-main-menu .at-menu-horizontal > li.parent ul{
    background: #FFF;
    color:#1e73be!important;
    margin-left:0;
    padding-left:0;
    }

.at-menu-horizontal ul ul, .at-menu-horizontal ul li ul a, .at-menu-horizontal li ul li span{
    background-color: #FFF;
    color:#222!important;
    cursor:pointer;
}

.at-main-menu .at-menu-horizontal > li
{
    color:#222;
}
.at-menu-horizontal li ul, ul.at-menu-horizontal > li, .at-main-menu .at-menu-horizontal > li ul li span, .at-main-menu .at-menu-horizontal > li ul li a{
    background:#FFF;
    color:#1e73be!important;
    margin-left:17px;
    padding-left:17px;
    }
ul.at-menu-horizontal > li:hover, .at-main-menu .at-menu-horizontal > li ul li span:hover, .at-main-menu .at-menu-horizontal > li ul li a:hover{
    background:#1e73be;
    color:#fdb813!important;
    font-size:inherit;
    margin-left:17px;
    padding-left:17px;
}
li.ui-tabs-active{
    background-color:#fdb813!important;
}



/*
general ui elements rebranding
*/
.at-main-menu .at-menu-horizontal > li:hover, .at-main-menu .at-menu-horizontal > .active, .at-main-menu .at-menu-horizontal ul li, .at-main-menu .at-menu-style-3 ul li:hover, .at-main-menu .at-menu-style-4 ul li:hover, .at-purchase-btn-3, .at-custom-percentage li .at-percent-bar, .at-custom-percentage-1 li .at-percent-bar, .at-arrowzex-latest-news .at-published, .at-arrowzex-latest-news-2 .at-published, .at-arrowzex-latest-news .at_readmore_text:hover, .at-arrowzex-features-2 .at-item-image, .at-arrowzex-features-4 .at-item-image, .at-arrowzex-latest-news-1 .at-published, .at-tab-1 .nav-tabs .active a, .at-tab-1 .nav-tabs>li>a:hover, .at-custom-percent-1 .at-percent-content:hover .at-percent-number, .at-arrowzex-about-us .at-item-more, .at-arrowzex-portfolio-1 .at-item-more, .at-arrowzex-features-5 .at-intro-item:hover .at-item-image, .at-arrowzex-features-5 .at-intro-item:hover .at_readmore_text, .at-twitter-btn, .at-twitter-btn:visited, .at-twitter-btn:hover, .at-blog .at-readmore:hover, .pagination_nav .page span, .pagination_nav .page a:hover, .tagspopular ul li:hover, .categories-module h5:hover .number-articles, .at-item-page .next a:hover, .at-item-page .previous a:hover, .at-portfolio-item .at-item-image-wrap:hover .at-item-more, .pagination_nav .next a:hover, .pagination_nav .start a:hover, .pagination_nav .prev a:hover, .pagination_nav .end a:hover, .at-module-2 .avatar-module-heading, .at-blog .at-subCategory a, .at-blog .itemListCategory .categoryTitle, div.k2TagCloudBlock a:hover, div.itemCommentsForm form input#submitCommentButton, .btn, .button, .pagination_nav .page a.button:hover, table.calendar tr td.calendarToday, table.calendar tr td.calendarDateLinked a:hover, .k2Avatar img:hover, .avatar-responsive .at-main-menu > .menu-pull{
    background-color: #fdb813;
    color: #222;
}
table th, div.views-row div.policy-header:hover, div.views-row div.goal-header.views-accordion-header:hover, div#map-menu div.scope-icon-title:hover, .active-policy, .active-scope, .active-goal, .policy-hover, .active-scope .scope-title{
    background-color:#00b8de!important;
}
.card-header h1{
    color:#00b8de!important;
}
header a:hover{
    color:#ef4e22!important;
}
