{% block head %}
{{ attach_library( 'biopama_caribbean_blocks/biopama_caribbean_footer' ) }}
{% endblock %}
<div class="container">
    <div class="footer-top">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 footer_top_block">
                <div class="widget">
					<div class="container">
						<div class="row algin-self-center">
							<div class="col-sm-6">
								<h4 class="footer-title iq-rmt-30">Subscribe for PA Insights and Alerts</h4>
							</div>
							<div class="col-sm-6">
								<script>(function() {
									window.mc4wp = window.mc4wp || {
										listeners: [],
										forms: {
											on: function(evt, cb) {
												window.mc4wp.listeners.push(
													{
														event   : evt,
														callback: cb
													}
												);
											}
										}
									}
								})();
								</script>
								<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-339" method="post" data-id="339" data-name="">
									<div class="mc4wp-form-fields">
										<input type="email" name="EMAIL" placeholder="Your Email" required="">
										<input type="submit" value="Sign up">
									</div>
									<label style="display: none !important;">Leave this field empty if you're human: 
										<input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
									</label>
									<input type="hidden" name="_mc4wp_timestamp" value="1612493783">
									<input type="hidden" name="_mc4wp_form_id" value="339">
									<input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
									<div class="mc4wp-response"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
		    </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="widget text-left">
					<div class="textwidget">
						<p>
							<img class="footer-icon-biopama" src="https://caribbeanprotectedareasgateway.com/staging/wp-content/uploads/2021/02/CPAG_Logo_4color_positive-300x189.png" alt="" width="250" height="157">
						</p>
						<p>The Caribbean Protected Areas Gateway aims at reinforcing the management and governance of protected and conserved areas in 15 Caribbean countries through better use of monitoring of information and capacity development on management and governance.</p>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
                <div class="widget footer-logo text-left">
					<h4 class="footer-title">About us</h4>
					<div class="menu-footer-menu-container">
						<ul id="menu-footer-menu" class="menu">
							<li class="footer-menu-item"><a href="https://caribbeanprotectedareasgateway.com/insights/">Insights</a></li>
							<li class="footer-menu-item"><a href="https://caribbeanprotectedareasgateway.com/opportunities/">Opportunities</a></li>
							<li class="footer-menu-item"><a href="https://caribbeanprotectedareasgateway.com/about-us/faq/">FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-0 mt-md-5 mt-4">
                <div class="widget">
					<h4 class="footer-title iq-rmt-30">Contact Us</h4>
					<div class="row">
						<div class="col-sm-12">
							<ul class="iq-contact">
								<li>
									<a><i class="fa fa-home"></i><span>CERMES, University of the West Indies (Cavehill) Barbados</span></a>
								</li>
								<li>
									<a href="mailto:info@caribbeanprotectedareasgateway.com"><i class="fa fa-envelope"></i><span>info@caribbeanprotectedareasgateway.com</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
	        </div>
        </div>
    </div>
	<div class="copyright-footer">
		<div class="pt-3 pb-3">
			<div class="row flex-row-reverse justify-content-between">
				<div class="col-lg-12 col-md-12 text-lg-left text-md-center text-center">
					<span class="copyright">Copyright 2021 Caribbean Protected Areas Gateway&nbsp;All Rights Reserved.</span>
				</div>
			</div>
		</div>
	</div>
</div>