{% block head %}
{{ attach_library( 'biopama_caribbean_blocks/biopama_caribbean_header' ) }}
{% endblock %}
<div id="avatar-header-inside-block">
	<div class="avatar-wrapper block-default-width">
		<div id="avatar-pos-top-left">
			<div class="avatar-module at-logo">
				<div class="avatar-module-content">
					<div class="custom">
<p><a href="https://caribbeanprotectedareasgateway.com/"><span class="at-font-light" style="color: white;"><img class="caribbean_header_logo" src="{{ caribbean_blocks_image_path }}logo.png" alt="" width="120" height="65.19"></span></a></p>
					</div>
				</div>
			</div>
		</div>				
		<div id="avatar-pos-top-right">
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="mod-languages">
						<div class="pretext">
							<p>
								<a href="#">EN </a> |
								<a href="#">FR </a> |
								<a href="#">PT </a>
							</p>
						</div>
						<ul class="lang-inline"> 
						</ul>
					</div>
				</div>
			</div>
			<div class="avatar-module no-padding-margin at-menu-module">
				<div class="avatar-module-content">
					<div class="at-main-menu at-menu-home">
<span class="menu-pull"></span>
<ul class="menu clearfix at-menu-horizontal ">
	<li class="item-101">
		<a href="https://caribbeanprotectedareasgateway.com/">Home</a>
	</li>
	<li class="item-197 deeper parent">
		<span class="pull"></span><span class="separator">About Us</span>
		<ul>
			<li id="menu-item-4874" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4874"><a href="https://caribbeanprotectedareasgateway.com/about-us/">Who is CPAG?</a></li>
			<li id="menu-item-4987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4987"><a href="https://caribbeanprotectedareasgateway.com/about-us/our-team/">Meet the Team</a></li>
			<li id="menu-item-6573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6573"><a href="https://caribbeanprotectedareasgateway.com/about-us/our-partners/">Our Partners</a></li>
			<li id="menu-item-6989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6989"><a href="https://caribbeanprotectedareasgateway.com/our-history/">Our History</a></li>

		</ul>
	</li>
	<li class="item-156 deeper parent">
		<span class="pull"></span>
		<span class="separator">Tools</span>
		<ul>
			<li id="menu-item-5928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5928"><a href="https://caribbean-dev.biopama.org/PA_Dashboard">Protected Areas Dashboard</a></li>
	<li id="menu-item-6928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6928"><a href="https://caribbean-dev.biopama.org/map">Track Conservation Targets</a></li>
	<!--<li id="menu-item-5911" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5911"><a href="https://app.marxanweb.org/">Marxan Web</a></li>-->
	<li id="menu-item-5912" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5912"><a href="https://caribbean-dev.biopama.org/pame">PAME Module</a></li>
	<li id="menu-item-6929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6929"><a href="https://caribbean-dev.biopama.org/live">Near Realtime Datasets</a></li>
	<li id="menu-item-5949" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5949"><a href="https://cloud.caribbeanprotectedareasgateway.com">CPAG Data Cloud</a></li>

		</ul>
	</li>
	<li class="item-158 deeper parent">
		<span class="pull"></span>
		<span class="separator">Resources</span>
		<ul>
			<li id="menu-item-5939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5939"><a href="https://caribbeanprotectedareasgateway.com/insights/">Insights</a></li>
	<li id="menu-item-4885" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4885"><a href="#">Case Studies</a></li>
	<li id="menu-item-6610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6610"><a href="https://caribbeanprotectedareasgateway.com/about-us/event-directory/">Events &amp; Media</a></li>

		</ul>
	</li>
	<li id="menu-item-6346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6346"><a href="https://caribbeanprotectedareasgateway.com/opportunities/">Opportunities</a></li>
<li id="menu-item-4990" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4990"><a href="https://caribbeanprotectedareasgateway.com/contact-us/">Contact Us</a></li>
</ul>
					</div>			
				</div>
			</div>
			</div>
		</div>
		<div class="clearbreak"></div>
	</div>
</div>